body {
  background: #333;
  color: #f4f4f4;
}

.nounderline {
  text-decoration: none !important
}

.navbar {
  border-bottom: 2px #008ed6 solid;
  opacity: .8;
}

#home-section {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 600px;
}

#home-section .dark-overlay {
  position: absolute;
  top:0;
  width: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-main {
  padding-top: 130px;
}

#home-section .card-form {
  opacity: 0.9;
}

.card-title {
  text-shadow: 5px 5px 15px #000;
}
